# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
*.local

/cypress/videos/
/cypress/screenshots/

# 👉 Custom Git ignores

# Playwright
/playwright/.auth/user.json
/playwright/.auth/seed.json
/playwright-report/
/test-results/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippets
!.vscode/tours
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yarn

# iconify dist files
src/plugins/iconify/icons.css

# Ignore MSW script
public/mockServiceWorker.js

# Compiled locale files
public/locales/

# Env files
.env*
!.env.example
!.env.e2e.example

/fontCompressor/node_modules/
/fontCompressor/gulpfile.js/minimizeFont/fonts/
/fontCompressor/gulpfile.js/minimizeFont/svg/
/fontCompressor/gulpfile.js/minimizeFontTabler/fonts/
/fontCompressor/gulpfile.js/minimizeFontTabler/svg/
